body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.global {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.burger-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff5672c5;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5px;
  top: 10px;
  left: 10px;
  position: fixed;
}

.header {
  width: 85vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo img {
  margin-top: 25px;
  width: 150px;
  height: 30px;
}

.nav-container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-container a {
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  color: #707070;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
}
a:link,
a:visited {
  color: #ffffff;
  background: #ff5672;
}

.nav-container nav img {
  width: 20px;
  height: 20px;
  color: #ff5672;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  position: absolute;
}

.hero {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff5672;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
}

.hero h1 {
  font-size: 39.92px;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
}

.hero h2 {
  font-size: 16.81px;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 2px;
  font-family: "Questrial", sans-serif;
}

.hero button {
  width: 170px;
  height: 40px;
  font-size: 10.25px;
  letter-spacing: 2px;
  background: #ffffff;
  border: 1px solid #ff5672;
  color: #ff5773;
  font-family: "Questrial", sans-serif;
}

.nav-container-images {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.nav-container-images a {
  width: 80px;
  height: 35px;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 5px 25px;
  justify-content: center;
  align-items: center;
  color: #707070;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
}

a:link,
a:visited {
  color: #ffffff;
  background: #ff5672;
}

.grid {
  width: 60px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.grid img {
  width: 14px;
  height: 14px;
  margin: 0 auto;
  color: #ff5672;
}

.images-section {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  grid-gap: 20px;
  justify-content: center;
}

.item {
  padding: 10px;
  background-color: #f3f3f3;
}

.item img {
  width: 100%;
  height: 100%;
}
.item0 {
  grid-row-end: span 2;
}
.item1 {
  grid-row-end: span 1;
}
.item2 {
  grid-row-end: span 3;
}
.item3 {
  grid-row-end: span 1;
}
.item4 {
  grid-row-end: span 3;
}
.item5 {
  grid-row-end: span 1;
}
.item6 {
  grid-row-end: span 4;
}
.item7 {
  grid-row-end: span 2;
}
.item8 {
  grid-row-end: span 2;
}
.item9 {
  grid-row-end: span 2;
}

.media-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.media-container button {
  margin: 20px;
  width: 170px;
  height: 35px;
  font-size: 13px;
  letter-spacing: 2px;
  background: #ff5672;
  border: 1px solid #ff5672;
  color: #ffffff;
  font-family: "Questrial", sans-serif;
}

.media-container p {
  font-family: "Questrial", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: #c3d0d8;
  padding-top: 10px;
  padding-bottom: 20px;
}

.media-container span {
  font-family: "Questrial", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: #ff5672;
}

.nav-container-images img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

@media (max-width: 768px) {

  .burger-menu {
    display: flex;
    z-index: 1;
  }

  .nav-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: auto;
    top: 0;
    left: -55vw;
    transition: .5s;
  }

  .nav-container.is-active {
    left: 0;
  }

  .nav-container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    font-size: 30px;
    background: #ff56729d;
  }

  .nav-container nav img {
    display: none;
  }

  .hero {
    width: 100vw;
    height: 70vh;
  }

  .hero h1 {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .hero h2 {
    font-size: 15px;
    letter-spacing: 2px;
  }

  .hero button {
    width: 130px;
    height: 30px;
    font-size: 10px;
    letter-spacing: 2px;
  }

  .nav-container-images a {
    padding: 5px 10px;
    letter-spacing: 2px;
  }
}

@media (max-width: 480px) {

  .burger-menu {
    width: 20px;
    height: 20px;
  }

  .nav-container {
    width: 40vw;
    left: -60vw;
    transition: .5s;
  }

  .nav-container a {
    font-size: 15px;
  }

  .hero h1 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .hero h2 {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .hero button {
    width: 100px;
    height: 25px;
    font-size: 8px;
    letter-spacing: 1px;
  }

  .nav-container-images a {
    padding: 5px 5px;
    letter-spacing: 1px;
  }
}